

.all_link {
    text-decoration: none;
    color: rgb(255, 102, 0);
    font-size: 15px;
    font-weight: bold;
}

        hr {
            display: block;
            border: none;
            border-top: 1px solid rgb(167, 167, 167);
            height: 0;
            unicode-bidi: isolate;
            margin-block-start: 1.1em;
            margin-block-end: 1.1em;
            margin-inline-start: auto;
            margin-inline-end: auto;
        }