

          .settings_container {
        display: grid;
        place-items: center;
        padding: 20px;
        margin-bottom: 20px;
        background-color: #FFFFFF;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    form {
        display: grid;
        gap: 10px;
        width: 100%;
        max-width: 400px;
    }

    label {
        font-weight: bold;
    }

    input {
        padding: 8px;
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box;
    }

    button {
        padding: 8px 16px;
        background-color: rgb(255, 102, 0);
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: rgb(255, 99, 0);
    }

